html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {font-family: 'Monserrat', sans-serif;
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



body{

  background-image: url(sfondofoglie.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #E1FFE1;
}

.titolo {
  font-family: 'Monserrat', serif;
  font-size: 50px;
  text-align: center;
  padding-top: 25px;
}

header {
  padding: 10px;
}

.loghi {
  text-align: center;
}

.instagram {
  width: 45px;
  padding-bottom: 7px;
}

.facebook {
  width: 60px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-top: 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: inherit;
  padding: 0 27px;
  line-height: 60px;
  margin-left: 30px;
  letter-spacing: 2px;
  margin: 180px;
}

nav ul li a:hover {
  color: #C1ADFF;
}

a {
  text-decoration: none;
  }

section{
  background-color: #E6E6E6;
}

.foto {
  width: 620px;
  margin-left: 100px;
  margin-top: px;
  margin-bottom: 10px;
  float: left;
  margin-right: 50px;
  border: 5px solid #437341;
}

.div1  {
  border: 5px solid #437341;
}

.presentazione {
  font-family: 'Monserrat', serif;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
  margin-right: 40px;
  color: #214121;
}

.school {
  font-family: 'Monserrat', serif;
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-right: 40px;
  color: #214121;
}

.passioni {
  font-family: 'Monserrat', serif;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0px;
  color: #214121;
}

footer {
  background-color: #437341;
  padding: 40px 0px 50px 0px;
}

.contact {
  text-align: right;
  font-size: 15px;
  margin-top: 30px;
  margin-right: 20px;
}

.descrizione {
  text-align: justify;
  line-height: 1.3;
  font-size: 20px;
  margin: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

.home {
  float: left;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  list-style: none;
  margin-left: 30px;
  text-decoration: none;
  color: inherit;
}

.home1:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

.danza {
  text-align: center;
  margin-top: 50px;
}

.mani {
  width: 500px;
  border: 5px solid #437341;
}

.capelli {
  width: 300px;
  margin-left: 100px;
  border: 5px solid #437341;
}

.trucco {
text-align: center;
margin-top: 50px;
}

.universo {
  width: 410px;
  border: 5px solid #437341;
}

.occhi {
  width: 300px;
  border: 5px solid #437341;
  margin-left: 100px;
}

.arte {
  text-align: center;
  margin-top: 50px;
}

.fiori {
  width: 400px;
border: 5px solid #437341;
}

.abbraccio {
  width: 300px;
  border: 5px solid #437341;
  margin-left: 100px;
}

.paragrafo {
  text-align: justify;
  line-height: 1.4;
  font-size: 20px;
  margin: 20px;
  margin-top: 40px;
  margin-right: 300px;
  margin-left: 300px;
}
